{% extends "base.html" %}
{% block header_bg %}
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')">
{% endblock %}

{% block heading %}
  <h1>About me</h1>
  <span class="subheading">This is me</span>
{% endblock %}


{% block content %}
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Not much to say :c
        </p>
      </div>
    </div>
  </div>
</main>

{% endblock %}
